@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
	background-color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	transition: background 0.2s linear;
}

body.dark {
	background: #111;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon-o {
	color: #913d94;
}

.fa-sun-o {
	color: #b38131;
}


img {
    width: 80%;
    padding: 60px;
}


.hidden {
    opacity: 0;
    display: none;
}
.search-container {
    display: flex;
    margin: 10px;
    width: 80%;
}
input:focus {
    border: 1px solid #22CBA8;
    box-shadow: none!important;
}
.btn-search {
    border: none;
    padding-bottom: 10px 25px;
    border-radius: 0 5px 5px 0;
    background-color: #d653b5;
    color: #fff;
    margin-left: -15px;
    cursor: pointer;
}


.btn-exclamation {
    border: none;
    padding-bottom: 10px 25px;
    border-radius: 0 5px 5px 0;
    background-color: #d653b5;
    color: #fff;
    margin-left: 5px;
    cursor: pointer;
    
}
.btn-exclamation:before,
.btn-exclamation:after {
    position: absolute;
    content: '';
    opacity: 0;
}

  
.btn-exclamation:after {
    content: attr(data-tooltip);
    background: linear-gradient(#9493da, #ecafdd);
    width: 130px;
    height: 40px;
    font-size: 13px;
    font-weight: 300;
    top: -90px;
    right: 30px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform: translateY(20px);
  }
  
.btn-exclamation:hover::before,
.btn-exclamation:hover::after {
    opacity: 1;
    transform: translateY(-2px);
  }
  
  @keyframes shake {
    0% { 
      transform: rotate(2deg);
    }
    50% {
     transform: rotate(-3deg);
    }
    70% {
      transform: rotate(3deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }

#efek:hover {
    animation: shake 500ms ease-in-out forwards;
}


.no-border {
    border: none !important;
}
.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
}

.pokemon-card {
    display:flex;
    flex-direction: column;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 2555, 255, 0.5);
    backdrop-filter: blur (5px);

}


.cp-text span {
    font-size: 16px;
}

.img-container {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    text-align: center;
}

 .img-container::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 138px;
    height: 25px;
    left: 37%;
    position: absolute;
    background-color: rgba(117, 117, 117, 0.2);
    box-shadow: 0 0 17px rgba(117, 117, 117, 0.5);
    bottom: 72px;
} 

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:100px 30px 60px;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    margin-top: -150px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 1;
}

.detail-container:hover {
    transform: translateY(0px);
    opacity: 0 ease 1;
}
.seperator {
    border-color: #cf525c !important;
    border-width: 10px;
    border-radius: 5px;
}

.btn-transfer {
    margin: 45px 0;
    padding: 15px 30px;
    background: linear-gradient(to right, #9493da, #ecafdd, #22CBA8);
    border-radius: 25px;
    border: none;
    color: #fff;
    min-width: 60%;
}
.stats span.first {
    border-right:1px solid #eee
}

.attributes-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}
.cp-text {
    padding-right: 10px;
    border-right: 1px solid #eee;
    margin: 0;
}
.cp-text:last-child {
    border: none;
}
.player-data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 15px;
    text-align: center;
}
.data-container p {
    margin-bottom: 0;
}

#update_name, #update_candy_title{
    text-transform: capitalize;
}


